body {
    background-image: linear-gradient(to left, blue, black);
}

.heading {
    text-align: center;
    color: seashell;
    text-shadow: 2px 2px black;
}

.container {
    width: 400px;
    height: 350px;
    margin: auto;
    padding: 20px;
    align-content: center;
    border: 5px double thistle;
    border-radius: 40px;
}

.bulb {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-bottom: 50px;
}

.button {
    background-color: yellowgreen;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    stroke: aqua;
}